body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

.container {
    max-width: 35%;
    margin: 100px auto;
    background: white;
    padding: 25px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Adding shadow to allow the container to pop out */
}

h2 {
    text-align: center; /* Make sure "Login" is Center aligned */
    font-weight: bold;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

.toggle-password {
    cursor: pointer; 
}

#showPassword {
    height: 38px;
    border: 1px solid lightgray;
}

#showPassword:hover {
    background-color: rgb(200, 196, 196);
}

#login-btn {
    width: 100%;
}