body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

.container {
    width: 90%;
    margin: 100px auto;
    background: white;
    padding: 5%; 
    padding-top: 1%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

h2 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#submit-btn {
    width: 100%;
    background-color: rgb(51, 122, 183); 
}

#submit-btn:hover {
    background-color: rgb(40, 96, 144); /* Darker hover color */
}

#password-match-error {
    margin-top: 10px; /* Adding margin to separate error message from the button */
    text-align: center; /* Center aligning the error message */
}

/* Media query for desktop */
@media only screen and (min-width: 900px) {
    .container {
        width: 60%; 
        max-width: 40%; 
        padding-bottom: 5%;
    }
}