<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <!-- will have to add action attribute to handle submit input-->
        <form id="loginForm" action="/" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <div class="password-field">
                    <input type="password" id="password" name="password" required>
                    <span class="toggle-password" onclick="PasswordVisibility()">Show</span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Login">
            </div>
            <div class="form-group">
                <p>Don't have an account? <a href="../register">Register</a></p>
            </div>
            <!-- error message if login failed -->
            {% if error_message %}
            <div class="form-group">
                <p style="color: red;">{{ error_message }}</p>
            </div>
            {% endif %}
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/login-register.js"></script>
</body>
</html>
