<!DOCTYPE html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <div class="container">
        <!-- creating a form to ask for information to put into a database -->
        <h2>Registration</h2>
        <form id="registerForm" action="/register" method="POST">
            <!-- asking for new username-->
            <label for="uName">Username:</label>
            <input type="text" id="uName" name="uName" required>
            <!-- asking for user to create password -->
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <!-- asking user to retype desired password for checking -->
            <label for="retypePassword">Retype Password:</label>
            <input type="password" id="retypePassword" name="retypePassword" required>
            <input type="submit" value="Register">
            <div class="form-group">
                <p>Already have an account? <a href="../">Login</a></p>
            </div>
            <!-- error message if passwords typed in the 2 fields are not matched or if username already exists -->
            {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/login-register.js"></script>
</body>
</html>
