<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Registration</h2>
        <form id="registerForm" action="/register" method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                <!-- New username input-->
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", id="uName") }}
            </div>
            <div class="mb-3">
                <!-- Password input -->
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", id="password") }}
            </div>
            <div class="mb-3">
                <!-- Retyped Password input -->
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control", id="retypePassword") }}
            </div>
            <div class="mb-3">
                <!-- Register Button -->
                {{ form.submit(class="btn btn-primary", id="submit-btn", value="Register") }}
            </div>
            <div class="mb-3">
                <!-- Redirect to Login Page -->
                <p>Already have an account? <a href="../">Login</a></p>
            </div>
            <!-- Error message if passwords do not match -->
            {% if form.errors %}
                <p style="color: red;">{{ form.errors }}</p>
            {% endif %}
            <!-- Error message if username already exists -->
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/login-register.js"></script>
</body>
</html>
