<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Registration</h2>
        <form id="registerForm" action="/register" method="POST">
            <div class="mb-3">
                <!-- New username input-->
                <label for="uName" class="form-label">Username:</label>
                <input type="text" class="form-control" id="uName" name="uName" required>
            </div>
            <div class="mb-3">
                <!-- Password input -->
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <!-- Retyped Password input -->
                <label for="retypePassword" class="form-label">Retype Password:</label>
                <input type="password" class="form-control" id="retypePassword" name="retypePassword" required>
            </div>
            <div class="mb-3">
                <!-- Register Button -->
                <button type="submit" class="btn btn-primary" id="submit-btn">Register</button>
            </div>
            <div class="mb-3">
                <!-- Redirect to Login Page -->
                <p>Already have an account? <a href="../">Login</a></p>
            </div>
            <!-- Error message if passwords do not match -->
            {% if password_error %}
                <p style="color: red;">{{ password_error }}</p>
            {% endif %}
            <!-- Error message if username already exists -->
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/login-register.js"></script>
</body>
</html>
